
.navbar{
  background-color: black;
  width: 100%;
  border-style: inset;
  border-color: $bluish-gray;
}


.navbar-brand{
  min-height: 10%;
  padding: 2% 0% 1%;
}

.description-heading{
  white-space: pre-wrap;
}

.navbar-menu{
  background-color:black;
}

.logo{ // logo: my favorite font
  color: $bluish-gray;
  font-family: logo;
  font-size: 44px;
  padding: 0px 16px 0 24px;
  margin-bottom: 0px;
  margin-right: 16px;
}

.navbar-item-close{
  color: $bluish-gray;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
}

a.navbar-item:hover {
  background-color: $bluish-gray;
  color: black;
}

.navbar-element{
  display: flex;
  color: $bluish-gray;
  // padding-top: 12px;
  // padding-bottom: 0px;
  position: relative;
  margin-top: 60px;
  // margin-bottom: 0px;
}

.navbar-item-open{
  background-color: black;
  color: $bluish-gray;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.selected{
  background-color: $bluish-gray;
  color: black;
}

.button.is-active {
  border-color: $bluish-gray;
  color: $bluish-gray;
}

.button.is-hovered, .button:hover {
  border-color: $bluish-gray;
  color: $bluish-gray;
}

.navbar-burger{
  background-color: black;
  color: $bluish-gray;
  border-color: $bluish-gray;
  margin-top: 4px;
  margin-right: 18px;
  margin-bottom: 0px;
}


@media only screen and (min-width: 1024px) {

}

@media only screen and (max-width: 1023px) {
  .navbar-element {  // hides on smaller screens
    display: none;
  }
}

@media only screen and (max-width: 788px) {

}

@media only screen and (max-width: 600px) {
  .logo{ // my favorite
    padding: 0 0 0 16px;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 400px) {
}
