.portfolio-dashboard {
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 12%;
  height: 300px;
}

.portfolio-project{
  cursor: pointer;
}

.notification {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.portfolio-contact-tile{
  visibility: hidden;
}


.email-icon-portfolio{
  height: 3rem;
  margin: 0px 2.5% 0px 2.5%;
  width: auto;
}

.github-icon-portfolio{
  height: 3rem;
  margin: 0px 2.5% 0px 2.5%;
  width: auto;
}

.linkedin-icon-portfolio{
  height: 3rem;
  margin: 0px 2.5% 0px 2.5%;
  width: auto;
}

.soundcloud-icon-portfolio{
  height: 3rem;
  margin: 0px 2.5% 0px 2.5%;
  width: auto;
}
@media only screen and (max-width: 1088px) {
  h4 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 812px) {
  h4 {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 788px) {
  h4 {
    font-size: 16px !important;
  }
  .portfolio-contact-tile{
    visibility: visible;
  }
  .portfolio-dashboard{
    max-width: 100%;
    overflow-x: hidden;
  }
}
