.portfolio-dashboard {
  padding-top: 12%;
  height: 300px;
}

.portfolio-project{
  cursor: pointer;
}

.modal-open{

}

.notification {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.portfolio-contact-tile{
  visibility: hidden;
}


.email-icon-portfolio{
  height: 3rem;
  margin: 0px 2.5% 0px 2.5%;
  width: auto;
}

.github-icon-portfolio{
  height: 3rem;
  margin: 0px 2.5% 0px 2.5%;
  width: auto;
}

.linkedin-icon-portfolio{
  height: 3rem;
  margin: 0px 2.5% 0px 2.5%;
  width: auto;
}

.soundcloud-icon-portfolio{
  height: 3rem;
  margin: 0px 2.5% 0px 2.5%;
  width: auto;
}

@media only screen and (max-width: 788px) {
  .portfolio-contact-tile{
    visibility: visible;
  }
}
