.ReactModalPortal > div {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay {
  // border-radius: 12px 12px 12px 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 400ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 100 !important;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}


.portfolio-detail-modal {
  border-radius: 10px 10px 10px 10px;
  background: $bluish-gray;
  color: black;
  height: 85%;
  line-height: 1;
  max-height: 85%;
  padding: $m-size;
  outline: none;
  overflow: hidden;
  width: 85%;
}

.slider-container{
  margin: auto;
  max-width: 65%;
  margin-bottom: 40px;
 // overflow: hidden;
}

.slick-initialized {
  // display: block;
}



// .modal-image {
//   max-width: 50%;
// }



@media only screen and (max-width: 1440px) {
  .modal-title{
    font-size: 28px;
  }

  .slider-container{
    max-width: 75%;
  }
}

@media only screen and (max-width: 1088px) {
  .modal-title{
    font-size: 24px;
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 812px) {
  .portfolio-detail-modal {
    padding: $s-size;
  }
}

@media only screen and (max-width: 788px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 400px) {

}
