.ReactModalPortal > div {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay {
  // border-radius: 12px 12px 12px 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 400ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 100 !important;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}



button{
  cursor: pointer;
}

.portfolio-detail-modal {
  border-radius: 1% 1% 1% 1%;
  background: $bluish-gray;
  color: black;
  font-size: 18px;
  height: 85%;
  line-height: 1;
  max-height: 85%;
  padding: 2%;
  outline: none;
  overflow: hidden;
  width: 85%;
}

.modal-title{
  font-size: 24px;
  color: black;
}

.title:not(:last-child){
  margin-bottom: 1%;
}

hr.modal-break{
  margin: 1% 0;
}

.slider-container{
  margin: auto;
  margin-top: 1%;
  max-width: 62%; //  65-70%
  margin-bottom: 40px;
}

.project-description{
  padding-left: .5%;
}

ul{
  list-style-type: circle;
}

.justified-content {
  text-align: justify !important;
  text-justify: auto !important;
 }

@media only screen and (max-width: 1440px) {
  .modal-title{
    font-size: 24px;
  }

  .slider-container{
    max-width: 66%;
  }
}

@media only screen and (max-width: 1088px) {
  .modal-title{
    font-size: 24px;
    margin-bottom: 0 !important;
  }
  .portfolio-detail-modal{
    font-size: 16px;
  }
}

@media only screen and (max-width: 812px) {
  .modal-title{
    font-size: 18px;
  }
  hr{
    height: 1px;
  }
  .portfolio-detail-modal {
    font-size: 14px;
    height: 100%;
    width: 100%;
  }

  .modal-title {
    font-size: 20px;
  }

  .portfolio-detail-modal {
    padding: $s-size;
  }
}

@media only screen and (max-width: 788px) {
  .slider-container{
    max-width: 100%;
  }
  button.slick-arrow.slick-prev::before{
    display: none !important;
  }
  button.slick-arrow.slick-next::before{
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .modal-title{
    font-size: 16px;
  }
  .portfolio-detail-modal {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {

}
