.ReactModalPortal > div {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay {
  // border-radius: 12px 12px 12px 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 400ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 100 !important;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}


.portfolio-detail-modal {
  border-radius: 10px 10px 10px 10px;
  background: $bluish-gray;
  color: black;
  height: 75%;
  line-height: 1;
  max-height: 75%;
  padding: $l-size;
  outline: none;
  overflow: hidden;
  width: 75%;
}
