.tile.is-child {
  z-index: 3;
  margin: 20px 10px 0 10px !important;
  color: black !important;
  background-color: $bluish-gray !important;
}

.contact-dashboard {
  padding-top: 14%;
  height: 300px;
}

.email-icon {
  height: 3rem;
  margin: 0px 4% 0px 4%;
  width: auto;
}

.github-icon {
  height: 3rem;
  margin: 0px 4% 0px 4%;
  width: auto;
}

.linkedin-icon {
  height: 3rem;
  margin: 0px 4% 0px 4%;
  width: auto;
}

.soundcloud-icon {
  height: 3rem;
  margin: 0px 4% 0px 4%;
  width: auto;
}


@media only screen and (max-width: 1440px) {
  .contact-dashboard{
    padding-top: 12%;
  }
}

@media only screen and (max-width: 1088px) {
  .contact-dashboard{
    padding-top: 18%;
  }
}

@media only screen and (max-width: 788px) {
  .contact-dashboard{
    padding-top: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .contact-dashboard{
    padding-top: 30%;
  }
}

@media only screen and (max-width: 400px) {
  .contact-dashboard{
    padding-top: 50%;
  }
}
