html {
  color: $retro-pink;
  height: 100%;
}

body {
  font-size: 20px;
  height: 100%;
}

.tile.is-child{
  z-index: 3;
  margin: 20px 10px 0 10px !important;
  color: black !important;
  background-color: $bluish-gray !important;
}


// Anurati
// Azonix
// Blanka
// Dual-300
// Halogen
// Gravedigger
// Gtek
// Neptune
// Rock_Rinder
// Spac3_Neon
// Spac3_Tech
// Trench


.loading {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  border-color: red;
}

.selected{
  background: $hover-gray;
}



::-webkit-scrollbar { // MAKES SCROLLBAR TRANSPARENT
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.scrollableDiv {
   overflowY: hidden;
}
