.tile.is-child{
  z-index: 3;
  margin: 20px 10px 0 10px !important;
  color: black !important;
  background-color: $bluish-gray !important;
}

.justified-content {
  text-align: justify;
  text-justify: auto;
 }

h4{
  margin-bottom: 0px !important;
  font-size: 20px !important;
}

.notification{
  // padding: 1rem 1rem 1rem 1rem;
  font-size: 18px;
}



@media only screen and (max-width: 1088px) {
  .notification {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 812px) {
  .notification {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 788px) {
  .notification {
    font-size: 14px !important;
  }
}
