.tile.is-child{
  z-index: 3;
  margin: 20px 10px 0 10px !important;
  color: black !important;
  background-color: $bluish-gray !important;
}

h4{
  margin-bottom: 0px !important;
  font-size: 20px !important;
}

.notification{
  // padding: 1rem 1rem 1rem 1rem;
  font-size: 18px;
}
