
html{
  font-family: 'Anonymous Pro', monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Anonymous Pro', monospace;
  // height: 100%;
  // min-height: 100%;
  // margin: 0;
  // padding: 0;
}

.has-navbar-fixed-top{
  padding-top: 12%;
}

.dashboard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgb(255,103,0);
  // background: $orangeToPurp;
  background: $orangeToBlue;
}

.top-grid {
  z-index: 0;
  // -webkit-mask-image: -webkit-gradient(linear, right 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  -webkit-mask-image: -webkit-linear-gradient(top,(rgba(0,0,0,1)), transparent);
  // mask-image: gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	transform: perspective(400px) rotateX(-40deg) scale(2,2) translateZ(0);
  // display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // padding: 1px;
  // -webkit-background-clip: content-box;
  // -webkit-backface-visibility: hidden;
  // outline: 1px solid transparent;
  transform-origin: top center;
  // will-change: transform;
  // background-attachment: fixed;
}

.top-grid {
  background-image:
    linear-gradient(to right, $retro-pink 1px, transparent 1px),
    linear-gradient(to top, $retro-pink 1px, transparent 1px);
  // background-position: center top;
  background-size: 30px 30px;
  // background-attachment: fixed;
}

.bottom-grid {
  z-index: 0;
  // -webkit-mask-image:
  //   -webkit-gradient(linear, left 90%, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))),
  //   -webkit-gradient(linear, right 90%, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  -webkit-mask-image: -webkit-linear-gradient(bottom,(rgba(0,0,0,1)), transparent);
	transform: perspective(400px) rotateX(40deg) scale(2,2) translateZ(0);
  // content: "";
  // display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 1px;
  // -webkit-background-clip: content-box;
  // -webkit-backface-visibility: hidden;
  // outline: 1px solid transparent;
  transform-origin: center bottom;
  // will-change: transform;
  // background-attachment: fixed;
}

.bottom-grid {
  background-image:
    linear-gradient(to right, $retro-pink 1px, transparent 1px),
    linear-gradient(to bottom, $retro-pink 1px, transparent 1px);
  background-position: center bottom;
  background-size: 30px 30px;
  // background-attachment: fixed;
  // background-repeat: repeat;
  // background-repeat: repeat-y;
}

@media only screen and (max-width: 768px) {
  .has-navbar-fixed-top{
    padding-top: 16%;
  }
}

@media only screen and (max-width: 600px) {
  .has-navbar-fixed-top{
    padding-top: 18%;
  }
}

@media only screen and (max-width: 400px) {
  .has-navbar-fixed-top{
    padding-top: 20%;
  }
}
